@model Ai_Accessories.Website.Models.SANPHAM
@{
    ViewBag.Title = "Product Detail";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<style>
    #body-content-right {
        text-align: center;
    }

        #body-content-right img {
            max-height: 210px;
            width: 67%;
        }

    #PsanPhamLienQuan img {
        height: 232px
    }
</style>
<div class="row">
    <div class="col-md-9" id="content-left">
        <div class="panel-body">
            <p>
                Tên sản phẩm:  @Model.TenSP
            </p>
            <p>
                Giá sản phẩm:  @Model.Gia
            </p>
            <p>
                Mô tả thông tin : @Model.ThongtinSP
            </p>
            <p>
                Tình trạng hàng : @Model.Conhang
            </p>
            <p>
                Số hàng đã bán : @Model.Solanmua
            </p>
            <img src="~/Content/images/@Model.HinhanhSP" />
        </div>
        <br />
        @Html.Action("PartialSanPhamLienQuan", "Product", new { number = 10 })
    </div>

    <div id="Datmua">
        <a href="@Url.Action("Themgiohang","Giohang", new {@iId = @Model.Id, @sURL = Request.Url.ToString() })"
           ĐẶT MUA
        </a>
    </div>
    <div class="col-md-3" id="content-right">
        @Html.Action("PartialSanPhamBanChayForDetail", "Product", new { number = 10 })
    </div>
    <br>
