@using PagedList.Mvc;
@model PagedList.PagedList<Ai_Accessories.Website.Models.SANPHAM>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@helper Truncate(string input, int lenght)
{
    if (input.Length < lenght)
    {
        @input
    }
    else
    {
        @input.Substring(0, lenght)<text>...</text>
    }
} 
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><span class="fa fa-shopping-basket" style="color:#1bc279"></span> PRODUCT</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li style="float:right">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li> 
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                    <a class="btn btn-success pull-right" data-toggle="modal" data-target="#modalAdd"><span class="fa fa-plus"></span> New Product</a>
                </p>
                <span>Total: @ViewBag.TotalProduct products</span>
                <div class="clearfix"></div>
                <hr />
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th width="40px">No.</th>
                            <th width="40px">Code</th>
                            <th width="100px">Image</th>
                            <th>Name</th>
                            <th>Information</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Created Date</th>
                            <th>Number Purchase</th>
                            <th colspan="3">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @{var counter = 1;}
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@product.Id</td>
                                <td>@product.HinhanhSP</td>
                                <td>@product.TenSP</td>
                                <td>@product.ThongtinSP</td>
                                <td>@product.LoaiSP</td>
                                <td>@product.Gia</td>
                                <td>@product.Ngaydang</td>
                                <td>@product.Solanmua</td>
                                <td>
                                    <a class="btn btn-danger btn-sm" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                                </td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                </td>
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
                <div class="page" style="display:inline">
                    @Html.PagedListPager(Model, page => Url.Action("Product", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>

