@model Ai_Accessories.Website.Models.CLIENTACCOUNT

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
} 
<h2>Đăng ký thông tin khách hàng</h2> 
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken() 
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="text-center">
        <span class="text-danger" id="invalid"></span>
    </div>
    <div class="form-group">
        <div class="col-md-1"></div>
        <label class="control-label col-md-3">Tên tài khoản* </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger", @id = "valAccountName" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        <label class="control-label col-md-3">Mật khẩu* </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger", @id = "valPassWord" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        <label class="control-label col-md-3">Nhập lại Mật khẩu* </label>
        <div class="col-md-6">
            <input class="form-control RePassWord"  type="password" onkeyup="Compare(this.value)" />
            <span class="text-danger" id="valRePassWord"></span>
        </div>
        <i class="fa fa-check-circle col-xs-1 col-sm-1 col-md-1 hidden" id="Correct" aria-hidden="true" style="color: #83ca13;font-size: 25px;height: 100%;padding-left: 2px;padding-top: 5px;"></i>
        <i class="fa fa-times-circle col-xs-1 col-sm-1 col-md-1 hidden" id="Incorrect" aria-hidden="true" style="color: red;font-size: 25px;height: 100%;padding-left: 2px;padding-top: 5px;"></i>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        <label class="control-label col-md-3">Tên của bạn* </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger", @id = "valClientName" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        <label class="control-label col-md-3">Số điện thoại nhận hàng* </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger", @id = "valPhoneNumber" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        <label class="control-label col-md-3">Địa chỉ mail </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @id = "valEmail" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        <label class="control-label col-md-3">Địa chỉ nhận hàng* </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger", @id = "valAddress" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        <label class="control-label col-md-3">Ghi chú </label>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1"></div>
        <div class="col-md-offset-4 col-md-6">
            <input type="submit" value="Đăng Ký" id="btnCreate" class="btn btn-primary" />
        </div>
    </div>
</div>
} 
<script>
    function Compare(value) {
        var password = $("input[name=PassWord]").val();
        if (password == value) {
            $("#Correct").removeClass("hidden")
            $("#Incorrect").addClass("hidden")
        } else {
            $("#Correct").addClass("hidden")
            $("#Incorrect").removeClass("hidden")
        }
    };

    $("#btnCreate").click(function () {
        var invalid = true;
        var acc = $("input[name=AccountName]").val();
        var pass = $("input[name=PassWord]").val();
        var Repass = $(".RePassWord").val();
        var name = $("input[name=ClientName]").val();
        var phone = $("input[name=PhoneNumber]").val();
        var email = $("input[name=Email]").val(); 
        var add = $("input[name=Address]").val(); 

        if (acc == "") {
            $("#valAccountName").text("Vui lòng nhập tên tài khoản");
            invalid = false;
        } else {
            $("#valAccountName").text(""); 
        }

        if (pass == "") {
            $("#valPassWord").text("Vui lòng nhập mật khẩu");
            invalid = false;
        } else {
            $("#valPassWord").text("");
        }

        if (Repass == "") {
            $("#valRePassWord").text("Vui lòng xác nhận lại mật khẩu");
            invalid = false;
        } else {
            if (pass != Repass) {
                $("#invalid").text("Nhập lại mật khẩu không đúng");
                $("#RePassWord").val("");
                $("#input[name=PassWord]").val("");
                invalid = false;
            } else {
                $("#invalid").text("");
            }
            $("#valRePassWord").text("");
        }

        if (name == "") {
            $("#valClientName").text("Vui lòng nhập tên của bạn");
            invalid = false;
        } else {
            $("#valClientName").text("");
        }

        if (phone == "") {
            $("#valPhoneNumber").text("Vui lòng nhập số điện thoại");
            invalid = false;
        } else {
            $("#valPhoneNumber").text("");
        }

        if (email == "") {
            $("#valEmail").text("Vui lòng nhập địa chỉ mail");
            invalid = false;
        } else {
            $("#valEmail").text("");
        }

        if (add == "") {
            $("#valAddress").text("Vui lòng nhập địa chỉ nhận hàng");
            invalid = false;
        } else {
            $("#valAddress").text("");
        } 

        if (!invalid) { 
            event.preventDefault();
        } 
    })
</script>